@page "/games/search"
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Search Game</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control mb-2" placeholder="Enter Game Name ..." @bind-value="gameName" @bind-value:event="oninput"
               @onkeypress="((KeyboardEventArgs args) => GameNameKeyPressHandler(args))" />

        <select class="form-control mb-2" @bind="selectedGameGenre">
            <option value="-1">-- Select Game Genre --</option>
            @foreach (var item in Genres)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <div class="row mb-2">
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="featureReleaseId" @bind="featureRelease" />
                    <label class="custom-control-label" for="featureReleaseId">Future Release?</label>
                </div>
            </div>
            <div class="col">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="canBayId" @bind="canBay" />
                    <label class="custom-control-label" for="canBayId">Can Bay The Game?</label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary form-control mb-2" @onclick="SearchTheGame">Search Game</button>
        <button type="button" class="btn btn-outline-danger form-control mb-2" @onclick="ResetValues">Reset</button>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="border border-primary rounded p-4">
            <p>Game Name: @gameName</p>
            <p>Genre Choosed: @selectedGameGenre</p>
            <p>Future Release? : @featureRelease</p>
            <p>Can Bay? : @canBay</p>
        </div>
    </div>
</div>

<div class="border border-success rounded p-3 my-3 mx-1">
    <GameList ListOfItems="Games" />
</div>

@code {
    string gameName = string.Empty;
    string selectedGameGenre = "-1";
    List<Genre> Genres = new();
    List<Game> Games = new();
    bool featureRelease = false;
    bool canBay = false;

    void GameNameKeyPressHandler(KeyboardEventArgs args)
    {
        //if (args.Key == "Enter")
        // TODO: Search
    }

    protected override void OnInitialized()
    {
        Genres = _db.GetAllGenres();
    }

    void SearchTheGame()
    {
        Games = _db.GetAllGames();

        if (!string.IsNullOrWhiteSpace(gameName))
            Games = Games.Where(x => x.Name.ToLower().Contains(gameName.ToLower())).ToList();
        if (selectedGameGenre != "-1")
            //Games = Games.Where(x => x.GenreId.ToString().Equals(selectedGameGenre)).ToList();
            if (featureRelease)
                Games = Games.Where(x => x.ReleaseDate > DateTime.Now).ToList();
        if (canBay)
            Games = Games.Where(x => x.ReleaseDate <= DateTime.Now).ToList();

    }

    void ResetValues()
    {
        gameName = string.Empty;
        selectedGameGenre = "-1";
        featureRelease = false;
        canBay = false;

        Games = new();
    }
}
